.button{
    margin: 10px;
    margin-bottom: 10px;
    float: right;
    color: rgb(38, 173, 72);
}
kendo-datepicker {
    width: 170px;
    height: 60px;
  }
  .k-calendar { font-size: 10px; }

.design{
    margin: 10px;
    margin-bottom: 10px;
    float: right;
    color: rgb(38, 173, 72);
    width: 200px;
    height: 60px;
}