
button{
    margin: 10px;
    margin-top: 10px;
}

.search-input{
    
    padding: 0;
    display: block;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    // margin: 25px 0;
    height: 200px;
}